# --- SISTEMA & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.env.*

# --- MODELLI ML (Fondamentale!) ---
# Non vogliamo caricare i file .pkl pesanti su Git se cambiano spesso
# Meglio tenerli locali o caricarli manualmente
models/*.pkl
*.joblib

# --- DATI E LOG ---
# Ignoriamo i database locali e i CSV generati
data/*.csv
data/*.json
*.log
influxdb_data/
mosquitto/data/
mosquitto/log/

# --- DOCKER ---
.docker/
# Se hai file di configurazione con password
docker-compose.override.yml

# --- ESP32 / ARDUINO ---
# Cartelle di build e librerie locali
.pio/
.clang_complete
.gcc-flags.json
fp-info-cache
build/